.bs-callout.code {
	background: #f2f5f7;
}

.bs-callout.code pre {
	background: #fff;
	border: 1px solid #eee;
	border-left: 3px solid #eee;
}

.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: brown;
}

.hljs-attr,
.hljs-attribute {
  color: black;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: purple;
}

.hljs-title,
.hljs-section {
  color: #4271ae;
}

.hljs-keyword,
.hljs-selector-tag {
  color: blue;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f5f5f5;
  color: #000;
  padding: 0.5em;
}

.bs-callout.code pre .hljs {
	background: #fff;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}